* {
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
}

header {
  background-color: #51a8ff;
  text-align: center;
}

h1 {
  background-color: #51a8ff;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.blue {
  color: #003366;
}

img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

footer ul li {
  margin-bottom: 12px;
}

footer ul li a {
  display: inline-block;
  padding: 12px 20px;
  min-width: 120px;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}












