header {
  background-color: mistyrose;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
}
body {
  background-color: #ffffff;
}

* {
  font-family: sans-serif;
}
img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}