
#main_page_header {
  background-color: #ffffff;
  text-align: center;
}

h1 {
  background-color: #51a8ff;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: left;
}

.subheader {
  font-size: 18px;
  font-weight: bold;
}




body {
  background-color: #ffffff;
}

* {
  font-family: sans-serif;
}



.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}



#shape {
  display: flex;
  gap: 20px;
}

#reels,
#brands {
  width: 50%;
  background-color: #51a8ff;
  border: 1px solid black;
  padding: 10px;
  flex: 1;
}

#big {
  font-size: 20px;
  font-weight: bold;
}



.button {
  background-color: silver;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
}

.blue {
  color: #003366;
}




img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}




footer ul li {
  margin-bottom: 12px;
}

footer ul li a {
  display: inline-block;
  padding: 12px 20px;
  min-width: 120px;
}

