
#main_page_header { 
  background-color: #ffffff;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
 }     
 @media (max-width: 600px) {
  .flex-container {
  flex-direction: column;
  align-items: center;
  }
}
h1 {
  background-color: #46b5f0;
  text-align: center;
}
h2 {
  font-size: 20px;
  text-align: left;
}
body {
  background-color: #ffffff;
}
#big {
  font-size: 20px;
  font-weight: bold;
}
#reels { 
  width: 50%;
  background-color: #46b5f0;
  border: 1px solid black; 
  padding: 10px; 
}
#brands { 
  width: 50%; 
  background-color: #46b5f0; 
  border: 1px solid black; 
  padding: 10px;
}
#shape {
  display: flex;
  gap: 20px;
}
#reels, #brands {
  flex: 1;
}
.button {
  background-color: #46b5f0;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin: 10px;
}
.blue {
  color: #46b5f0;
}
* {
  font-family: sans-serif;
}
.subheader {
  font-size: 18px;
  font-weight: bold;
}
img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}